entrypoint = "main.go"
run = ["go", "run", "."]

modules = ["go-1.21"]

[nix]
channel = "stable-23_11"

[gitHubImport]
requiredFiles = [".replit"]

[deployment]
run = ["go", "run", "."]
ignorePorts = false
deploymentTarget = "gce"

[[ports]]
localPort = 3000

[[ports]]
localPort = 4000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 7000
externalPort = 3000
